* {
          margin: 0;

}

body {
          font-family: "Robot", sans-serif;
}

.navbar {
          width: 100%;
          height: 50px;
          background-color: black;
}

.navbar-container {
          display: flex;
          align-items: center;
          padding: 0 50px;
          height: 100%;
          color: white;
          font-family: "Sen", sans-serif;
}

.navbar-logo {
          width: 50px;
          height: 50px;
          padding-right: 10px;
}

.logo-container {
          flex: 2;


}


.logo {
          font-size: 25px;
          color: greenyellow;
}

.menu-container {
          flex: 6;


}

.menu-list {
          display: flex;
          list-style: none;

}

.menu-list-item {
          margin-right: 30px;
          cursor: pointer;
}

.menu-list-item.active {
          font-weight: bold;
}

.profile-container {
          flex: 2;
          display: flex;
          align-items: center;
          justify-content: flex-end;

}

.profile-text-container {
          margin: 0 20px;
}

.profile-picture {
          width: 32px;
          height: 32px;
          border-radius: 50%;
}

.login-btn {
          background-color: lightgray;
          color: black;
          padding: 10px 20px;
          font-weight: bold;
          border-radius: 20px;
          display: flex;
          cursor: pointer;
}


.sidbar {
          width: 50px;
          height: 100%;
          background-color: black;
          position: fixed;
          top: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 60px;

}


.left-menu-icon {
          color: white;
          font-size: 20px;
          margin-bottom: 40px;
          cursor: pointer;
}

.container {
          background-color: #151515;
          min-height: calc(100vh - 50px);
          color: white;
}

.content-container {
          margin-left: 50px;
          
}

.mySwiper{
          height: 80vh;
}


.featured-content {
          height: 60vh;
          background-color: aqua;
          padding: 50px;
          position: relative;
}


.featured-title {
          
          font-weight: bolder;
          font-size: 45px;
          padding-left: 10px;
          
          top: 55%;



}

.featured-desc {
          width: 75%;
          color: snow;
          margin: 30px 0;
          padding-left: 10px;
          top: 60%;
}

.mybox1 {
          display: none;
}

.read-more-btn {
          cursor: pointer;
          font-size: 12px;
          font-weight: bold;
          color: blue;
          border: none;
          margin-top: 5px;
          background: none;
          
}

.featured-button {
          background-color: greenyellow;
          color: black;
          padding: 10px 40px;
          margin-left: 10px;
          border-radius: 15px;
          font-size: 16px;
          font-weight: bold;
          bottom: 10%;
          cursor: pointer;
}


/* .autoplay-progress {
          position: absolute;
          right: 16px;
          bottom: 16px;
          z-index: 10;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          color: var(--swiper-theme-color);
} */

/* .autoplay-progress svg {
          --progress: 0;
          position: absolute;
          left: 0;
          top: 0px;
          z-index: 10;
          width: 60vh;
          height: 60vh;
          stroke-width: 4px;
          stroke: var(--swiper-theme-color);
          fill: none;
          stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
          stroke-dasharray: 125.6;
          transform: rotate(-90deg);
} */

.movie-list-container {
          padding: 0 20px;

}

.movie-list-wrapper {
          position: relative;
          overflow: hidden;

}

.movie-list {
          display: flex;
          align-items: center;
          height: 500px;
          transform: translateX(0);
          transition: all 1s ease-in-out;

}

.movie-list-title{
          font-size: 40px;
          font-weight: bold;
          margin-top: 20px;
          width: 100%;
          background-color: rgb(38, 36, 36);
          /* font-family: "Oswald", sans-serif; */
          font-family: "Grey Qo", cursive;
          font-weight: bold;
}

.movie-list-item {
          margin-right: 30px;
          position: relative;

}

.movie-list-item :hover.movie-list-item-img {
          transform: scale(1.2);
          margin: 0 30px;
          opacity: 0.5;

}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
          opacity: 1;
}


.movie-list-item-img {
          transition: all 1s ease-in-out;
          width: 360px;
          height: 400px;
          object-fit: cover;
          border-radius: 20px;
}

.movie-list-item-title {
          background-color: #333333a3;
          padding: 0 10px;
          font-size: 15px;
          font-weight: bold;
          position: absolute;
          top: 5%;
          left: 25px;
          opacity: 0;
          transition: 1s all ease-in-out;
}

.movie-list-item-desc {
          background-color: #333333a3;
          height: 50px;
          padding: 10px;
          font-size: 12px;
          position: absolute;
          top: 30%;
          left: 25px;
          width: 200px;
          opacity: 0;
          transition: 1s all ease-in-out;
          overflow-y: scroll;
}

.movie-list-item-button {
          padding: 10px;
          background-color: rgba(172, 255, 47, 0.538);
          color: black;
          border-radius: 10px;
          outline: none;
          cursor: pointer;
          position: absolute;
          bottom: 20px;
          left: 25px;
          opacity: 0;
          transition: 1s all ease-in-out;
}

.arrow {
          font-size: 120px;
          position: absolute;
          top: 90px;
          right: 0;
          color: rgb(239, 235, 235);
          opacity: 0.5;
          cursor: pointer;
}

/* .container.active{
          background-color: white;
}

.movie-list-title.active{
          color: black;
}

.navbar-container.active{
          background-color: white;
          color: black;
}

.sidbar.active{
          background-color: white;
}

.left-menu-icon.active{
          color: black;
}

.toggle.active{
          background-color: black;
}

.toggle-ball.active{
          background-color: white;
          transform: translateX(-20px);
} */